header {
  background-color: rgb(0, 145, 255);
  text-align: center;
  color: aliceblue;
  height: 90px;
}
header a {
  text-decoration: none;
  color: aliceblue;
}
.link1 {
  position: relative;
  right: 80px;
}
.link2 {
  position: relative;
  bottom: 19px;
}
.link3 {
  position: relative;
  bottom: 38px;
  left: 80px;
}

.img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 250px;
}
.img img {
  width: 100%;
  height: 100%;
  border: solid 1px blue;
  border-radius: 50%;
}
.introduce {
  position: relative;
  width: 400px;
  bottom: 75px;
  left: 380px;
}
footer {
  text-align: center;
  background-color: rgb(252, 246, 246);
  height: 50px;
  position: relative;
}
footer div {
  position: absolute;
  top: 30%;
  left: 35%;
}
