.Grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}
.Grid-item {
  background-color: rgb(43, 35, 104);
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
}

.large1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.large2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
