* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  display: inline-block;
  width: 300px;
  height: 200px;
}
div img {
  width: 100%;
  height: 100%;
}
.view {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  width: 300px;
  position: relative;
  bottom: 25px;
}
.title {
  width: 300px;
  position: relative;
  bottom: 20px;
  font-weight: bolder;
}
