div {
  width: 180px;
  height: 200px;
  border: solid 1px gray;
  padding: 10px 10px 20px 20px;
  border-radius: 5%;
}
h1 {
  font-size: 20px;
  font-family: Arial;
  position: relative;
  left: 25%;
  padding: none;
  margin: none;
}
button {
  width: 175px;
  height: 30px;
  border: none;
  border-radius: 5%;
  background-color: rgb(0, 119, 255);
  color: aliceblue;
  position: relative;
  top: 10px;
}
