.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.flex-item {
  width: calc(25% - 10px);
  background-color: rgb(245, 101, 125);
  height: 50px;
  text-align: center;
  line-height: 50px;
}

/* màn hình tablet */
@media screen and (max-width: 1024px) {
  .flex-item {
    width: calc(50% - 10px);
    background-color: rgb(234, 161, 173);
  }
}

/* màn hình mobile */
@media screen and (max-width: 768px) {
  .flex-item {
    width: calc(100% - 10px);
  }
}
