/* reset css mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* css trang web */
.header {
  height: 50px;
  background-color: rgb(57, 93, 211);
  color: white;
  line-height: 50px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  gap: 10px;
  height: calc(100vh - 120px);
}

.sidebar {
  width: 25%;
  background-color: #2da72d;
  color: white;
}

.content {
  flex: 1;
  background-color: #eb3434;
  color: white;
}

.footer {
  height: 50px;
  background-color: purple;
  margin-top: 10px;
  color: white;
}
