.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-item {
  width: 100px;
  height: 100px;
  background-color: rgb(13, 124, 124);
  color: white;
  text-align: center;
  line-height: 100px;
}
