header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  position: relative;
  background-color: rgb(33, 25, 53);
  color: white;
}
.title {
  position: absolute;
}
.link1 {
  position: absolute;
  left: 75%;
}
.link2 {
  position: absolute;
  left: 83%;
}
.link3 {
  position: relative;
  left: 91%;
}
.main {
  height: 130px;
  padding-top: 30px;
  background-color: rgb(224, 224, 223);
}
.img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 50px;
}
.img img {
  width: 100%;
  height: 100%;
  border: solid 1px rgb(255, 0, 85);
  border-radius: 50%;
}
.introduce {
  position: relative;
  width: 400px;
  bottom: 65px;
  left: 180px;
}
.title2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pro1 {
  background-color: rgb(33, 25, 53);
  color: white;
  width: 200px;
  height: 40px;
  padding: 10px;
  text-align: center;
  position: absolute;
}
.pro2 {
  background-color: rgb(33, 25, 53);
  color: white;
  width: 200px;
  height: 40px;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 25%;
}
.pro3 {
  background-color: rgb(33, 25, 53);
  color: white;
  width: 200px;
  height: 40px;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 50%;
}
.pro4 {
  background-color: rgb(33, 25, 53);
  color: white;
  width: 200px;
  height: 40px;
  padding: 10px;
  text-align: center;
  position: relative;
  left: 75%;
}
footer {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  background-color: rgb(224, 224, 223);
}
header a {
  text-decoration: none;
  color: aliceblue;
}
footer a {
  text-decoration: none;
  color: black;
}
